.navbar .navbar-nav {
    display: inline-block;
    float: none;
}

.navbar .navbar-collapse {
    text-align: center;
}

.li {
    text-align: left;
}

.item {
      overflow: hidden;
      display: block;
      width: 100%;
      min-height: 190px;
}
.item img {
      height: 100%;
      width: 100%;
}

.fila-productos {
    background-color: #fff;
    display: flex;
}


.productos {
    background-color: #fff;
    display: flex;
}


@media only screen and (max-width: 768px){
    
    .fila-productos {
        background-color: #fff;
        display: inherit;
    }


    .productos {
        background-color: #fff;
        display: inherit;
    }
}

.list-inline {
  display: flex;
  justify-content: center;
}
