{% load staticfiles %}
{% load bootstrap %}

<!DOCTYPE html>
<html lang="es">
<head>
 <title>Cocomá Shop</title>
 <meta charset="utf-8">
 <meta name="viewport" content="width=device-width, initial-scale=1">
 <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
 <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}" media="screen" />
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
 <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
   <nav class="navbar navbar-default" role="navigation">
     <div class="navbar-header">
       <button type="button" class="navbar-toggle" data-toggle="collapse"
               data-target=".navbar-ex1-collapse">
         <span class="sr-only">Desplegar navegación</span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
       </button>
       <a class="navbar-brand visible-xs" href="/"><img class="img-responsive" src="/static/images/cocoma_logo_menu.png"></a>
       {% if request.user.is_authenticated and basket_quantity %}<a class="navbar-brand pull-right visible-xs"href="{% url 'client_basket' %}"><span class="glyphicon glyphicon-shopping-cart"></span> ({{basket_quantity}})</a>{% endif %}
     </div>
     <div class="collapse navbar-collapse navbar-ex1-collapse">
         <ul class="nav navbar-nav">
           <li><a class="navbar-brand visible-sm visible-md visible-lg" href="/"><img class="img-responsive" src="/static/images/cocoma_logo_menu.png"></a><li>
           <li class="dropdown">
               <a href="#" class="dropdown-toggle text-left" data-toggle="dropdown">Catálogo<b class="caret"></b></a>
               <ul class="dropdown-menu">
                   <li><a href="{% url 'products' %}">Nuestro catálogo</a></li>
                    {% for c in category %}
                    <li><a href="{{c.get_absolute_url}}">{{ c.name }}</a></li>
                    {% endfor %}
                </ul>
            </li>
            {% if request.user.is_authenticated %}
            {% if basket_quantity %}
                <li><a class="dropdown-toggle pull-rights visible-sm visible-md visible-lg"href="{% url 'client_basket' %}"><span class="glyphicon glyphicon-shopping-cart"></span> ({{basket_quantity}})</a></li>
            {% else %}
                <li><a class="dropdown-toggle pull-rights visible-sm visible-md visible-lg"href="{% url 'client_basket' %}"><span class="glyphicon glyphicon-shopping-cart"></span> (0)</a></li>
            {% endif %}
                {% if client %}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle text-left" data-toggle="dropdown">Mi cuenta ({{request.user}})<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="{% url 'client_basket' %}">Mi cesta <span class="glyphicon glyphicon-shopping-cart"></span></a></li>
                            <li><a href="{% url 'my_orders' %}" >Historial de pedidos</a></li>
                            <li><a href="{{client.get_absolute_url}}">Perfil</a></li>
                            <li><a href="{% url 'contact' %}">Danos tu opinión</a></li>
                            <li><a href="{% url 'auth_logout' %}"><b>Salir</b></a> </li>
                        </ul>
                    </li>
                {% endif %}
            {% else %}
            <li class="text-left">
                <a href="{% url 'auth_login' %}">Entrar</a>
            </li>
            <li class="text-left">
                <a href="{% url 'registration_register' %}">Regístrate</a>
            </li>
            {% endif %}
        <li  class="text-left">
            <a href="http://cocoma.es">Cocomá.es</a>
        </li>
        {% if not client %}
        <li  class="text-left visible-lg">
            <a href="{% url 'contact' %}">Danos tu opinión</a>
        </li>
        {% endif %}
        <form action="{% url 'search' %}" method="GET" class="navbar-form navbar-left" role="search">
          <div class="form-group">
            <input type="text" name="q" value="{{ query|escape }}" class="form-control input-sm" placeholder="Buscar" size="14">
          </div>
	  <button type="submit" value="Search" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-arrow-right"></span></button>
        </form>

        </ul>

     </div>
   </nav>
   <div class="container">
       <div class="row">
           <div class="col-xs-3 visible-sm visible-md visible-lg">
               {% if category %}
                <div class="list-group">
                    <a href="/" class="list-group-item">
                        <h4 class="list-group-item-heading">Todos los productos</h4>
                    </a>
                    {% for c in category %}
                    <a href="{{c.get_absolute_url}}" class="list-group-item">
                        <h4 class="list-group-item-heading">{{ c.name }}</h4>
                    </a>
                    {% endfor %}
                </div>
                {% endif %}
            </div>
            <div class="col-sm-9">
                {% if messages %}
                    {% for m in messages %}
                        <div class="alert alert-{{m.tags}} ">
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                            {{ m|safe }}
                        </div>
                    {% endfor %}
                {% endif %}
                {% block content %}
                {% endblock %}
            </div>
       </div>
   </div>
</body>
</html>
