{% extends 'base.html' %}
{% load staticfiles %}
{% load bootstrap %}



{% block content %}
<div class="row">
    <h1 class="text-center">Mi perfil</h1><br/>
    <div class="col-sm-2 col-lg-2">
    </div>
    <div class="col-xs-12 col-sm-8 col-lg-8">
        <form action="" method="post">{% csrf_token %}
            {{ form|bootstrap}}
            <input type="submit" value="Actualizar" class="btn btn-success pull-right">
        </form>

        <a href="{% url 'auth_password_change' %}" class="btn" role="button">Cambiar contraseña</a>
    </div>
</div>
{% endblock %}
