{% extends 'base.html' %}
{% load staticfiles %}
{% load bootstrap %}
{% block content %}
<script type="text/javascript">
$(document).ready(function() {
    $("form").keypress(function(e) {
        if (e.which == 13) {
            return false;
        }
    });
});
</script>
    <div class="row">
        <div class="col-sm-12">
            <div class="list-group">
                <h1 class="text-center">Mi cesta</h1>
                {% for p in products %}
                <form action="." method="POST" class="form-inline">
                {% csrf_token %}
                <div class="row">
                    <div class="col-xs-4">
                        <a href="{{ p.product.get_absolute_url }}" class="thumbnail">
                            <img src="{{p.product.image.url}}" class="img-responsive"/>
                        </a>
                    </div>

                    <div class="col-xs-6">
                        <div class="row">
                            <div class="col-xs-12">
                                <h4><a href="{{ p.product.get_absolute_url }}">{{ p.product.name }}</a></h4>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6">
                                <h4>{{ p.product.price }}€/{{p.product.unit}}</h4>
                            </div>
                            <div class="col-xs-6">
                                  <div class="input-group">
                                    <input type="hidden" name="product" value="{{p.product.pk}}">
                                    <input type="text" size="6" name="quantity" value="{{ p.quantity}}" class="form-control" id="inlineFormInputGroup" onkeyup="if (/\D/g.test(this.value)) this.value = this.value.match(/^[0-9.,]+$/)">
                                  </div>
                            </div>
                        </div>
                        {% if p.product.pk in error %}
                            {% for pk, err in error.items %}
                                {% if pk == p.product.pk %}
                                    <h5><b>¡Atención! {{ err }}</b><h5>
                                {% endif %}
                            {% endfor %}
                        {% else %}
                            <h5>Cantidad mínima: {{ p.product.minimum_quantity }} {{p.product.unit }}</h5>
                        {% endif %}
                    </div>
                    <div class="col-xs-1">
                        <button type="submit" class="btn btn-warning" name="remove">
                            <span class="glyphicon glyphicon-trash"></span>
                        </button>
                        <button type="submit" class="btn btn-success" name="update">
                            <span class="glyphicon glyphicon-refresh"></span>
                        </button>

                    </div>
                </form>


                </div>
                {% endfor %}
                {% if products%}
                <hr>
                <div class="row">
                    <div class="col-sm-8">
                    </div>
                {% if total_discount %}
                    <div class="col-sm-4">
                        <h4><strike>Total:</b> {{ total }}€</strike></h4>
                        <h4><b>Total:</b> {{ total_discount }}€</h4>
                    </div>
                {% else %}
                    <div class="col-sm-4">
                        <h4><b>Total:</b> {{ total }}€</h4>
                    </div> 
                {% endif %}
                </div>
                <hr>
                <form action="." method="POST" class="form">
                    <div class="row">
                      <div class="col-xs-4 col-sm-4">                            
                          <label>Código de descuento:</label>
                      </div>
                      <div class="col-xs-5 col-sm-4">
                        <input type="text" size="50" name="discount" value="{{ discount }}" class="form-control" id="inlineFormInputGroup">
                        {% if discount_error %}
                            <h4 class='bg-danger text-muted'>El código de descuento no es válido</h5>  
                        {% endif %}
                    </div>
                      <div class="col-xs-3 col-sm-4">
                        <button type="submit" class="btn" name="discount_btn">
                            <span class="">Aplicar</span>
                        </button>
                      </div>
                    </div>
                    <hr>
                    {% csrf_token %}
                    {% if cycle.pickup_day_b != None %}
                        <div class="row">
                            <div class="col-xs-12 col-sm-4">
                                <label for="comment">Día de recogida:</label>
                            </div>
                            <div class="col-xs-6 col-sm-4">
                                <input type="radio" name="pickup_day" value="pickup_day_a" checked> <b>{{ cycle.pickup_day_a|date:"l d/m/y" }}</b>
                            </div>
                            <div class="col-xs-6 col-sm-4">
                                <input type="radio" name="pickup_day" value="pickup_day_b" checked> <b>{{ cycle.pickup_day_b|date:"l d/m/y" }}</b>
                            </div>
                        </div>
                    {% else %}
                        <div class="row">
                            <div class="col-xs-12">
                                <input type="hidden" name="pickup_day" value="pickup_day_a">
                                <label for="comment">Día de recogida:</label> {{ cycle.pickup_day_a|date:"l d/m/y" }}
                            </div>
                        </div>
                    {% endif %}
                    <hr>
                    <div class="row">
                        <div class="col-sm-12">
                                <label for="comment">Observaciones</label>
                                <textarea class="form-control" rows="5" name="comment"></textarea>
                        </div>
                    </div>
                    <div class="row">
                    <hr>
                        <div class="col-sm-7">
                        </div>
                        <div class="col-sm-5">
                            <input type="submit" name="make-order" value="Realizar pedido" class="btn btn-success">
                        </div>
                    </div>
                </form>
                {% else %}
                <h1 class="text-center"><small>Su cesta está vacía</small></h1>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
