{% extends 'base.html' %}
{% load staticfiles %}



{% block content %}


    <div class="row">
        <div class="col-sm-10">
            <h1 class="text-center">COCOMÁ<br><small>·organic shop & take away·</small></h1>
            <h2><p class="text-center">Nuestro catálogo está cerrado.</p>
                {% if cycle %}
                <small><p class="text-center">Puede consultar nuestro catálogo desde el próximo {{ cycle.open_cycle }} hasta el {{ cycle.close_cycle }}
                    <p class="text-center"><a href="/contact">Contáctanos</a></p>
                </p></small>
                {% endif %}

            </h2>
        </div>
    </div>

{% endblock %}
