{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
{% load bootstrap %}
    <div class="row">
        <div class="col-xs-12 col-md-11">
            <h1 class="text-center text-muted">Tu opinión nos importa</h1>
            <form action="." method="POST" role="form" novalidate="novalidate">
                {% csrf_token %}
                {{ form|bootstrap }}
                <input type="submit" value="Enviar" class="btn btn-success pull-right">
            </form>
        </div>
    </div>
{% endblock %}
