{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
    <h1 class="text-center">Detalles del pedido {{ order.pk }}</h1>
    <div class="row">
        <div class="col-xs-12 col-sm-6">
            <h6><b>Nombre: </b>{{ order.client }}</h6>
        </div>
        <div class="col-xs-12 col-sm-6">
            <h6><b>Fecha: </b>{{ order.date|date:"d/m/y H:i" }}</h6>
        </div>
    </div>
    {% for p in products %}
    <div class="row">
      <div class="col-xs-2">
          <a href="{{ p.product.get_absolute_url }}" class="thumbnail">
              <img src="{{p.product.image.url}}" class="img-responsive"/>
          </a>
      </div>
      <div class="col-xs-4">
          <h4><a href="{{ p.product.get_absolute_url }}">{{ p.product.name }}</a></h4>

      </div>
      <div class="col-xs-1">
          <h4>{{ p.quantity }}</h4>
      </div>
      <div class="col-xs-2">
          <h4>{{ p.product.price }}/{{p.product.unit}}</h4>
      </div>
      <div class="col-xs-2">
          {% if p.product.available %}
              <h4>Disponible</h4>
          {% else %}
              <h3 class="label label-danger">No disponible</h3>
          {% endif %}
      </div>
  </div>
    {% endfor %}
    <div class="row">
        <div class="col-xs-12">
            <div class="alert alert-warning alert-dismissable">
              <button type="button" class="close" data-dismiss="alert">&times;</button>
              <strong>¡Cuidado!</strong> Los productos no disponibles no se añadirán al nuevo pedido.
            </div>
        </div>
    </div>
    {% if order.discount %}
    <div class="row">
        <div class="col-xs-12">
            <h4 class="text-right"><strike><b>Total:</b> {{ order.get_total}}</strike></h4>
            <h4 class="text-right"><b>Total:</b> {{ order.total_discount }}</h4>
            <h4 class="text-left"><b>Descuento utilizado:</b> {{ order.discount }}</h4>
        </div>
    </div>
    {% else %}
    <div class="row">
        <div class="col-xs-12">
            <h4 class="text-right"><b>Total:</b> {{ order.get_total}}</h4>
        </div>
    </div>
    {% endif %}
    <form action="." method="POST" class="form">
        {% csrf_token %}
        <div class="row">
            {% if cycle.pickup_day_b != None %}
                    <div class="col-xs-12 col-sm-4">
                        <h4 class="">Día de recodida: </h4>
                        <input type="hidden" name="order" value="{{order.pk}}">
                    </div>
                    <div class="col-xs-6 col-sm-4">
                        <input type="radio" name="pickup_day" value="pickup_day_a" checked> <b>{{ cycle.pickup_day_a|date:"l d/m/y" }}</b>
                    </div>
                    <div class="col-xs-6 col-sm-4">
                        <input type="radio" name="pickup_day" value="pickup_day_b" checked> <b>{{ cycle.pickup_day_b|date:"l d/m/y" }}</b>
                    </div>
            {% else %}
                    <div class="col-xs-12">
                        <input type="hidden" name="order" value="{{order.pk}}">
                        <input type="hidden" name="pickup_day" value="pickup_day_a">
                        <label for="comment">Día de recodida:</label> {{ cycle.pickup_day_a|date:"l d/m/y" }}</h4>
                    </div>
            {% endif %}
        </div>
        <div class="row">
        <hr>
            <div class="col-xs-7">
            </div>
            <div class="col-xs-5">
                <input type="submit" name="make-order" value="Añadir a la cesta" class="btn btn-success">
            </div>
        </div>
    </form>
{% endblock %}
