{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
    <div class="row">
        <div class="col-sm-12">
            <div class="list-group">
                <h1 class="text-center">Historial de pedidos</h1>
                <div class="row">
                    <div class="col-xs-2 col-sm-2">
                        <h5><b>ID</b></h5>
                    </div>
                    <div class="col-xs-3 col-sm-4">
                        <h6><b>Fecha</b></h6>
                    </div>
                    <div class="col-xs-2 col-sm-3">
                        <h6><b>Total</b></h6>
                    </div>
                </div>
                <hr>
                {% for o in object_list  %}
                <div class="row">
                    <div class="col-xs-2 col-sm-2">
                        <h5><b>{{ o.pk }}</b></h4>
                    </div>
                    <div class="col-xs-3 col-sm-4">
                        <h6>{{ o.date|date:"d/m/y" }}</h6>
                    </div>
                    <div class="col-xs-2 col-sm-3">
                        <h6>{{ o.get_total }}</h6>
                    </div>
                    <div class="col-xs-2 col-sm-2">
                        <form action="{{ o.get_absolute_url }}" method="POST" role="form" novalidate="novalidate">
                            {% csrf_token %}
                            <input type="submit" value="Reordenar" class="btn btn-success pull-left">
                        </form>
                    </div>
                </div>
                {% endfor %}
            </div>
            <ul class="pager">
                {% if page_obj.has_previous %}
                <li><a href="?page={{ page_obj.previous_page_number }}">Anterior</a></li>
                {% endif %}
                {% if page_obj.has_next %}
                <li><a href="?page={{ page_obj.next_page_number }}">Siguiente</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
{% endblock %}
