{% extends 'base.html' %}
{% load staticfiles %}



{% block content %}


    <div class="row">
        <div class="col-sm-10">
            <h1 class="text-center">Pedido realizado<br><small>En unos instantes recibirá un email con la información de su pedido.</small></h1>
            <h1 class="text-center"><small>Gracias por confiar en Cocomá.</small></h1>
        </div>
    </div>

{% endblock %}
