{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
    {% if query %}
        {% if not object_list %}
            <h1 class="text-center"><small>Su busqueda no contiene ningún resultado<small></h1>
        {% else %}
            <h1 class="text-center"><small>Hemos encontrado {{ object_list.count }} resultados que coincide con "{{ query|escape }}"<small></h1>
        {% endif %}
    {% endif %}
            <div class="row fila-productos">
    {% for p in object_list%}
                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 productos">
                    <div class="thumbnail">
                        <div class="row">
                            <div class="col-xs-12 item" >
                                <a href="{{ p.get_absolute_url }}"><img src="{{p.image.url}}" class="img-responsive" /></a>
                            </div>
                            </div>
                            <div class="row">
                            <div class="col-xs-12 bottom-align-text">
                                <p><b><h4>{{p.name}}</h4></b></p>
                                <p><h4>Precio: {{p.price}}€/{{p.unit}} </h4></p>
                            </div>
                        </div>
                    </div>
                </div>
        {% if forloop.counter|divisibleby:3 %}
            </div>
            <div class="row fila-productos">
        {% endif %}
    {% endfor %}
    {% if object_list %}
    </div>
    <div class="row">
        <div class="col-xs-12">
            <ul class="pager list-inline">
                {% if page_obj.has_previous %}
            	    <li><a href="?page={{ page_obj.previous_page_number }}">Anterior</a></li>
                {% endif %}
                {% if page_obj.has_next %}
                	<li><a href="?page={{ page_obj.next_page_number }}">Siguiente</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
    {% endif %}
{% endblock %}
