{% extends 'base.html' %}
{% load staticfiles %}
{% load bootstrap %}
{% block content %}

<div class="col-sm-10">
<div class="row">
    <div class="col-sm-6 col-xs-12">
            <img src="{{product.image.url}}" class="img-responsive"/>
    </div>
    <div class="col-sm-6 col-xs-12">
            <div class="row">
                <div class="col-sm-12">
                    <br>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <br>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <h4><b>{{product.name}}</b></h4>
                    <br>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <b>Precio: </b>{{product.price}}€/{{product.unit}}</p>
                    <br>
                </div>
            </div>

            {% if not request.user.is_authenticated %}
            <div class="row">
                <div class="col-sm-12">
                    <h4><a href="/accounts/login/">¡Entra o registrate!</a></h4>
                </div>
            </div>
            {% else %}
            {% if product.available %}
                <div class="row">
                    <div class="col-sm-12">
                        <form action="{{ product.get_absolute_url }}" method="POST" role="form" class="form-inline">
                        {% csrf_token %}
                            <div class="col-sm-12 form-inline">
                                <div class="row">
                                    {{ form|bootstrap }}
                                    {% if product.example %}
                                        <p>{{ product.example|safe }}</p>
                                    {% endif %}
                            {% if error %}
                                <h5><b>¡Atención! {{ error }}</b><h5>
                            {% else %}
                                <h5>Cantidad mínima: {{ product.minimum_quantity }} {{product.unit }}</h5>
                            {% endif %}
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="row">
                                    <br>
                                    <input type="submit" value="Añadir" class="btn btn-success btn-left">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            {% else %}
                <h3 class="label label-danger">No disponible</h3>
            {% endif %}


            {% endif %}
    </div>
</div>
<div class="row">
    <br>
    <div class="col-xs-12 jumbotron">
        {% if not product.description %}
            No existe descripción para este producto.
        {% else %}
            {{ product.description|safe }}
        {% endif %}

    </div>
</div>
</div>
    <!-- <div class="row">
        <div class="col-sm-12">
            <br>
        </div>
    </div> -->


{% endblock %}
