{% extends "base.html" %}
{% load i18n %}

{% block content %}

<div class="row">
    <!-- <div class="col-sm-3">
    </div> -->
    <div class="col-sm-12">
        <h6 class='text-align-center'>
            <small><p class='lead'>{% trans "Tu cuenta no ha sido activada." %}</p></small>
        </h6>
    </div>
</div>
{% endblock %}
