{% extends "base.html" %}
{% load i18n %}

{% block content %}
<div class="row">
    <div class="col-sm-12">
        <h1 class='text-align-center'>
            <small><p class='text-center'>{% trans "Tu cuenta ha sido activada." %}</p></small>
        </h1>
        <h1 class='text-align-center'>
            <small><p class='text-center'>{% trans "Ya puedes empezar a disfruar de Cocomá Box." %}</p></small>
        </h1>
    </div>
</div>
{% endblock %}
