{% extends "base.html" %}
{% load i18n %}

{% block content %}

<div class="row">
    <div class="col-sm-3">
    </div>
    <div class="col-sm-6">
        <h6 class='text-align-center'>
            <p class='lead'>{% trans "Sesión finalizada" %}</p>
            <p><a href="{% url 'auth_login' %}">Login</a></p></p>
        </h6>
    </div>
</div>


{% endblock %}
