{% extends "base.html" %}
{% load i18n %}

{% block content %}

{% if validlink %}
<form method="post" action=".">
  {% csrf_token %}
  {{ form }}

  <input class='btn btn-block btn-primary' type="submit" value="{% trans 'Enviar' %}" />
</form>
</div>

{% else %}

<p class='lead'>{% trans "Contraseña no ha sido cambiada." %}</p>

{% endif %}

{% endblock %}
