{% extends "base.html" %}
{% load i18n %}
{% load bootstrap %}
{% block content %}
<div class='col-sm-8 col-sm-offset-1'>
	<h1 class="text-center">Cambiar Contraseña</h1><br/>
<form method="post" action=".">
  {% csrf_token %}
  {{ form|bootstrap }}

  <input class='btn btn-block btn-primary' type="submit" value="{% trans 'Confirmar' %}" />
</form>
</div>
{% endblock %}
